.demo {
    background-color: yellow;
    width: 100%;
    height: 200px;
}
#p1{
    color: red;
}
h1{
    color: rgb(43, 255, 0);
    font-size: 30 px;
    font-family: 'Times New Roman';
    
}
p{
    color: royalblue;

}